@font-face {
    font-family: nasalisation;
    src: url(fonts/nasalization-rg.otf);   
}
@font-face {
    font-family: spacefamily;
    src: url(fonts/SpaceMono-Regular.ttf);   
}
html {
    height: 100%
}
body {
--detail-image-width: 100vw;
--detail-image-height: 50vw;
--thumbnails-image-width: 30vw;
--thumbnails-image-height: 20vw;
--thumbnails-title-height:calc(var(--thumbnails-image-height)*0.33);
}
body {
    height: 100%;
    background-color: rgb(44, 60, 126);
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin: 0;
}
#hideCont-button{
    position: absolute;
    top: 2vh;
    right: 2vw;
}
.logo {
    display: block;
    text-align: center;
    background-color: rgb(18, 25, 116);
    color:aliceblue;
    font-size: 1.4em;
    text-transform: uppercase;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    justify-content: center;
    transition: 4s cubic-bezier(0.8, 2, 0.2, 1);
}
.hidden .details-container{
    display: none;
}
.is-point{
    transform: scale(0.001);
    transition: 0s;
}
.details-frame{
    position: relative;
}
.details-image {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: var(--detail-image-width);
    height:var(--detail-image-height);
    margin: auto;
    object-fit: cover;
}
.details-title {
    display: block;
    position: absolute;
    bottom: 5vw;
    left: 10vw;
    background-color: rgb(10, 77, 136);
    height: 7vw;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}
.thumbnails-item:hover{
    transform: scale(1.1);
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 55vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
    margin: left 2px;
    margin-right: 2px;
}
.hidden .thumbnails-list{
    max-height: 90vh;
}
.thumbnails-item {
    border: solid 2px rgb(44, 1, 84);
    margin-top: 1.2vh;
    border-radius: 20%;
    overflow: hidden;
    min-height: calc((var(--thumbnails-image-height)) + var(--thumbnails-title-height));
        max-height: calc((var(--thumbnails-image-height)) + var(--thumbnails-title-height));
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    display: block;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    object-fit: cover;

}
.thumbnails-title {
    display: block;
    height: var(--thumbnails-title-height);
    color: azure;
    margin: 0px;
    font-family: spacefamily;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(38, 78, 178);
}
@media (min-width: 560px){
    body{
    --detail-image-width: 65vw;
    --detail-image-height: 42vw;
    --thumbnails-image-width: 17vw;
    --thumbnails-image-height: 9vw;
    }
    #hideCont-button{
        position: absolute;
        top: 5.5vh;
        right: 6.5vw;
    }
    .main-class{
        flex-direction: row;
    }
    h2{
        margin-top: 0;
        margin-bottom: 0;
    }
    .logo {
        display: block;
        text-align: center;
        background-color: rgb(18, 25, 116);
        color:aliceblue;
        font-size: 0.9em;
        text-transform: uppercase;
        font-family: nasalisation;
        
    }
    .details-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vw;
        margin-left: 4.5vw;
        margin-right: 1vw;
        width: var(--detail-image-width);
        height:var(--detail-image-height);
        border-radius: 25%;
        object-fit: cover
    }
    .details-title {
        display: flex;
        background-color: rgb(44, 60, 126);
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 6vw;
        font-family: spacefamily;
        border-radius: 10%;
    }
    .thumbnails-list{
        display: flex;
        order: -1;
        max-height: 90vh;
        padding: 1vw;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 9px;
        padding-right: 3vw;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .hidden .thumbnails-list{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
       
    }
    .hidden .thumbnails-item{
        margin: 1vw;
        min-height: calc((var(--thumbnails-image-height)) + var(--thumbnails-title-height));
        max-height: calc((var(--thumbnails-image-height)) + var(--thumbnails-title-height));
    }
    .thumbnails-image {
        width: var(--thumbnails-image-width);
        height: var(--thumbnails-image-height);
        object-fit: cover
    }
    .thumbnails-item{
        display: block;
        margin-top: 0.8vw;
        min-height: calc((var(--thumbnails-image-height)) + var(--thumbnails-title-height));
        max-height: calc((var(--thumbnails-image-height)) + var(--thumbnails-title-height));
    }
    .thumbnails-title{
        display: block;
        text-align: center;
        font-size: 1em;
        font-family: spacefamily;
    }
}
@media (min-width: 1000px){
    body{
        --thumbnails-image-width: 13vw;
        --thumbnails-image-height: 7vw;
        }
    .logo {
        font-size: 2.3em;
        text-transform: uppercase;
    }
    h2{
        margin-top: 0;
        margin-bottom: 0;
    }
    .details-image {
        margin-right: 2vw;
        margin-left: 3vw;
        border-radius: 15%;
    }
    .details-title {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 6vw;
    }
}